[user]
  email = maciej@smefju.pl
  name = Maciej Malecki
  signingkey = B7F77357560C6030

[color]
  diff = always
  ui = true

[color "diff"]
  whitespace = red reverse

[diff]
  algorithm = patience
  compactionHeuristic = true

[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
  pager = less --quit-if-one-screen --no-init
  editor = editor --no-window-system

[push]
  default = current

[alias]
  s  = status
  ss = status --short --branch
  pr = pull --rebase
  c  = commit --verbose
  d  = diff
  dc = diff --cached
  l  = log
  b  = branch
  co = checkout
  ca = commit --amend --verbose
  cf = commit --fixup
  r  = rebase
  ri = rebase --interactive
  rc = rebase --continue
  review = log master..HEAD --reverse

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[commit]
  gpgsign = true

[rebase]
  autosquash = true

[gpg]
  program = /opt/homebrew/bin/gpg
