[user]
  email = smt116@gmail.com
  name = Maciej Malecki
  signingkey = smt116@gmail.com

[color]
  diff = always
  ui = true

[color "diff"]
  whitespace = red reverse

[diff]
  algorithm = patience
  compactionHeuristic = true

[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = emacs -nw
  excludesfile = ~/.gitignore

[push]
  default = current

[alias]
  s = status
  ss = status -sb
  pr = pull --rebase
  c = commit -v
  d = diff
  dc = diff --cached
  l = log
  b = branch
  co = checkout
  ca = commit --amend -v
  r = rebase
  rc = rebase --continue

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[commit]
  gpgsign = true

[submodule]
  fetchJobs = 4
